@page "/Projects"

<PageTitle>Projects</PageTitle>


<meta http-equiv="refresh" conent="4"/>
<main>
	<div>
		<div class="container">
			<div>
				<header class="inner index">
					<h1 class="fw-bold"> Projects</h1>
					<p class="inner-description small width">
						This Page is dedicated to the Projects that
						I've completed and thought to share.
					</p>
				</header>
			</div>
		</div>
	</div>
	<WorkingOn/>
</main>

@code {

}
