@inject NavigationManager uriHelper;
@using System.Threading;

<PageTitle>Working On</PageTitle>

<div class="tenor-gif-embed" data-postid="26051014" data-share-method="host"
	data-aspect-ratio="1.25" data-width="100%">
	<button onClick="window.location.reload();">Refresh Page</button>
	<a href="https://tenor.com/view/patrick-star-starfish-gif-26051014">
		Patrick Star Starfish GIF
	</a>
	from
	<a href="https://tenor.com/search/patrick+star-gifs">
		Patrick Star GIFs
	</a>
</div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>


@code {

}
